*{
    margin: 0;
    padding: 0;
}
.bg-header{
    background-image: url(images/rectangle.jpg);
    background-size: cover;
}
.container{
    max-width: 1110px;
    margin: auto;
}
.top{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 60px 1fr 50px;
}
.logo{
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
}
.menu{
    width: 50px;
    height: 50px;
    background-color: #F7654A;
    display: flex;
    margin-top: 9px;
}
.burger{
    width: 21px;
    height: 3px;
    background-color: #fff;
    margin: auto;
    position: relative;
    border-radius: 1px;
}
.burger::after{
    position: absolute;
    content: "";
    width: 21px;
    height: 3px;
    top: 7px;
    background-color: #fff;
    border-radius: 1px;
}

.burger::before{
    position: absolute;
    content: "";
    width: 21px;
    height: 3px;
    top: -7px;
    background-color: #fff;
    border-radius: 1px;
}
h1{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-family: Oswald;
    font-size: 64px;
    font-weight: 500;
    line-height: 95px;
    letter-spacing: 0.02em;
    margin-top: 113px;
}
.topic{
    font-family: Oswald;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 311px;
}

.block-years{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: #F7F7F7;
    padding: 57px 117px 52px;
    position: relative;
    top: -150px;

}
.block-years__number{
    color: #F7654A;
    font-size: 72px;
    font-weight: 500;
    line-height: 107px;
    letter-spacing: 0em;
    text-align: center;
}    
.block-years__h{
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    margin-top: 4px;
}
.block-years__p{
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #999999;
}
.block-progects{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    margin-top: -50px;
}
.block-progects h2{
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    margin-bottom: 50px;
}
.block-progects__img{
    height: 380px;
    width: 350px;
    background-image: url(images/Rectangle3.jpg);
}
.block-progects__delimiter{
    height: 6px;
    width: 55px;
    margin-top: 45px;
    background-color: #F7654A;
}
.block-progects__elements h3{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: #404149;
    margin-top: 15px;
    margin-bottom: 13px;
}
.block-progects__elements p{
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #999999;
}

.bg-body{
    background-color: #F7654A;
    margin-top: 123px;
}
.block-contact{
    display: grid;
    grid-template-columns: 1fr 175px;
    padding-top: 30px;
    padding-bottom: 38px;
}
.block-contact-h2{
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #fff;
}
.block-contact-p{
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.02em;
    color: #fff;
    padding-top: 6px;
}
.block-button{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding-top: 43px;
}
.zapros{
    background-color: #fff;
    width: 175px;
    height: 49px;
    border: none;
    font-family: Oswald;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    background-image: url(images/mail2.png);
    background-repeat: no-repeat;
    background-position: 30px 18px;
    padding-left: 34px;
}
.affair{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding-top: 150px;
    padding-bottom: 150px;
}
.affair__block{
    background-color: #F7F7F7;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    padding: 59px 80px;
}
.affair__h2{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    padding-bottom: 26px;

}
.affair__p{
    font-size: 21px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0.02em;
    text-align: center;
    padding-top: 20px;
}
.affair__img{
    background-image: url(images/building.png);
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    margin: auto;
}
.body-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.body-images__block{
    width: 100%;
}
.questions{
    margin-top: 259px;
}
.questions__h2{
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 50px;
}
details{
    max-width: 730px;
    margin-bottom: 34px;
}
summary{
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    color: #F7654A;
    /* margin-bottom: 40px; */
}
details p{
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #999999;
    margin-top: 22px;
}
.partners{
    background-color: #404149;
    padding: 100px 0;
    margin-top: 143px;
}
.partners-g{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 64px;
    grid-row-gap: 50px;
}
.parthers__h2{
    grid-column-start: 1;
    grid-column-end: 6;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}
.parthers__img{
    width: 170px;
    height: 61px;
    background-image: url(images/berksho.png);
}
.reviews{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 150px;
    grid-column-gap: 30px;
    grid-row-gap: 64px;
    padding-bottom: 21px;
}
.reviews__h2{
    grid-column-start: 1;
    grid-column-end: 4;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
}
.reviews-block__wrapper{
    background-color: #F7F7F7;
    padding: 0px 31px 33px;
}
.reviews-block__hr{
    font-size: 96px;
    font-weight: 700;
    line-height: 142px;
    letter-spacing: 0em;
    color: #F7654A;
    margin: -3px 0 -60px -2px;
}
.reviews-block__p{
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    color: #999999;
}
.reviews-block__name{
    font-size: 21px;
    font-weight: 500;
    line-height: 31px;
    letter-spacing: 0.02em;
    padding-top: 30px;
}
.reviews-block__name>span{
    color: #F7654A;
}
.contact{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 47px;
    padding-top: 100px;
    padding-bottom: 150px;
}
.contact__h2{
    grid-column-start: 1;
    grid-column-end: 5;
    font-size: 36px;
    font-weight: 500;
    line-height: 53px;
    letter-spacing: 0em;
    text-transform: uppercase;
    text-align: center;
}
.contact__1{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #999999;
    margin: 7px 0 18px;
}
.contact__2{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
}
.contact__mail{
    color: #F7654A;
}
.contact__i{
    width: 100%;
    height: 71px;
    background-repeat: no-repeat;
    background-position: center center;
}
.contact__img1{
    background-image: url(images/adr.png);
}
.contact__img2{
    background-image: url(images/tel.png);
}
.contact__img3{
    background-image: url(images/time.png);
}
.contact__img4{
    background-image: url(images/mail.png);
}
.footer{
    background-color: #404149;
}
.stc{
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    color: #fff;
}
.csy{
    font-family: 'Open Sans';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: right;
    color: #fff;
}
.footer-c{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 0 29px;
}


/* mobile */